@font-face {
  font-family: "PetMe64";
  src: url('../fonts/PetMe64.ttf') format('truetype'),
       url('../fonts/monterchi-book.otf') format('open-typeface');
}

#portrait-pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.space {
  padding-top: 50px;
}

.links {
    background: rgb(63,94,251);
    background: linear-gradient(180deg,rgba(0, 16, 255, 0.8) 0%, rgba(0, 255, 147, 0.8) 100%);
    background-attachment: scroll;
    padding:2rem;
    display: grid;
    width: auto;
    top: calc(50%-10px);
    left: calc(50%-10px);
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;}
}

#github-pic {
  object-fit: cover;
  object-fit: cover;
  width: 50%;
  height: 50%;
}

.hero {
  padding:2rem;
  display: grid;
  width: auto;
  top: calc(50%-10px);
  left: calc(50%-10px);
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;}
