@font-face {
  font-family: "PetMe64";
  src: url('../fonts/PetMe64.ttf') format('truetype'),
       url('../fonts/monterchi-book.otf') format('open-typeface');
}

#portrait-pic {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.hero {
  background: rgba(0,0,0, 0.95);
  background-attachment: fixed;
  padding:2rem;
  display: grid;
  width: auto;
  top: calc(50%-10px);
  left: calc(50%-10px);
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 2rem;}

.hero > #item1{
  font-family: PetMe64;
  color: #00FF09;
  font-size: 36px;
  font-size: 1.5vw;
}

.space {
  padding-top: 50px;
}
/*.hero:after{
  background: inherit;
 box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);
 filter: blur(30px);
}
