@font-face {
  font-family: "PetMe64";
  src: url('../fonts/PetMe64.ttf') format('truetype'),
       url('../fonts/monterchi-book.otf') format('open-typeface');
}

#portrait-pic {
  object-fit:scale-down;
  object-position: center;
  width: 20rem;
  height:20rem;
}

.hero {
  padding:2rem;
  display: flex;
  width: auto;
  top: calc(50%-10px);
  left: calc(50%-10px);
  grid-template-columns: 0.5fr 1.5fr;
  grid-template-rows: 1fr;
  grid-gap: 2rem;}

#currently {
  background-color: white;
  color: black;
  padding: inherit;
}
