/* colour palette
#777777 -- grey
#242424 -- blackish
#1259fe -- ligher blue
 */
body {
  background: #000000;
}

@font-face {
  font-family: "PetMe64";
  src: url('../fonts/PetMe64.ttf') format('truetype'),
       url('../fonts/monterchi-book.otf') format('open-typeface');
}

.title-box {
  float: left;
}


.title {
  font-family: "PetMe64";
  color: #00FF09;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 57px;
  line-height: 57px;
  letter-spacing: -0.15em;

}

.title:hover {
  color: #003098;
}

header {
  background-color: #000000;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  border: 7px solid #00FF09;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 165px;
  border: 7px solid #00FF09
}

.navbar > li > a:hover {
  text-decoration: none;
  color: #1259fe;
}

.navbar > li > a {
  display: block;
  color: #00FF09;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  overflow: hidden;
  text-align: center;
}

.navbar > li {
  float: right;
}

.wrapper {
  width: 1300px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.header-nav {
