/* colour palette
#777777 -- grey
#242424 -- blackish
#1259fe -- ligher blue
 */
body {
  padding-top: 1.5em;
  padding-right:3em;
  padding-left: 3em;
  background:
        linear-gradient(-90deg, #fff 1px, transparent 1px),
        linear-gradient(#ffff 1px, #000000 1px, #000000 100px, transparent 1px),
        #f2f2f2;
    background-size:
        80px 80px,
        80px 80px;
  overflow-x: hidden;
}

@font-face {
  font-family: "PetMe64";
  src: url('../fonts/PetMe64.ttf') format('truetype'),
       url('../fonts/monterchi-book.otf') format('open-typeface');
}

.title-box {
  height: 100%;
  float: left;
  padding: 1rem;
}


#title {
  font-family: "PetMe64";
  color: #00FF09;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  font-size: 3vw;
  line-height: 1em;
  letter-spacing: -0.15em;
}

#title:hover {
  color: #ffff;
  transition: 0.5s ease;
}

header {
  padding: 0.75rem;
  align-items: center;
  background-color: rgba(0,0,0,0.95);
  border-radius: 0px;
  border: 7px solid #00FF09;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  height: 0.7fr;
  width: 0.7fr;
  border: 7px solid #00FF09;
}

.navbar > li > a:hover {
  text-decoration: underline;
  color: #ffff;
  transition: 0.5s ease;
}

.navbar > li > a {
  position:  relative;
  overflow: hidden;
  display: inline;
  color: #00FF09;
  text-align: center;
  padding-left: 1.5rem;
  text-decoration: none;
  font-family: PetMe64;
  letter-spacing: -0.15em;
  font-size: 20px;
  font-size: 1.5vw;
}

nav {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 20px;
  overflow: auto;
  text-align: right;
}

.navbar > li {
  float: right;
}

.wrapper {
  vertical-align: middle;
  align-items: center;
  width: 0.7fr;
  padding: 5px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
