/* colour palette
#03071E -- black
#CACFD6 -- light grey
#D6E5E3 -- white
#009966 -- cyan green
#515B3A -- laurel green
 */


body {
    background: linear-gradient(75deg, #A8A9AD, #d6e5e3);
    background-size: 1500% 1500%;

    animation: AnimationName 60s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:100% 20%}
    100%{background-position:50% 200%}
}

@font-face {
  font-family: 'floane';
  src: url(fonts/Floane-Regular.otf);
}


@font-face {
    font-family: 'oddjob';
    src: url(fonts/oddjob.ttf);
    font-style: italic;
    font-size: 20px;
}

h1 {
  font-family: 'floane';
  color: #009966;
  font-size: 500%;
}

nav {
  background: #C8CFB4;
  flex: auto;
}

nav > ul > li > a {
  font-size: 20px;
  text-decoration: none;
  font-family: 'floane';
  text-decoration: none;
  color: #009966;
}

nav > ul >li > a:hover {
  text-decoration: none;
  color: #596440;
  font-size: 30px;
  transition: 0.5s;
  transform-style: flat;
  transition-delay: 0.1s;
}

nav > ul {
  list-style: none;
}
